:host {
    padding-top: 50px;
    padding-bottom: 100px;
}

.widget {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #eee;
    header {
        margin-bottom: 20px;
    }
    &.search {
        .form-group {
            position: relative;
        }
        input {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border: none;
            border-bottom: 1px solid #ddd;
            font-size: 0.95em;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            background: none;
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            &:-ms-input-placeholder {
                color: #aaa;
                font-family: "Open Sans", sans-serif;
            }
        }
        .submit {
            height: 40px;
            padding: 0;
            line-height: 40px;
            background: none;
            border: none;
            color: #555;
            font-size: 0.9em;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
    &.latest-posts {
        a {
            display: block;
            color: #555;
            text-decoration: none;
            &:hover {
                color: #000;
            }
        }
        .image {
            min-width: 60px;
            max-width: 60px;
            height: 60px;
            overflow: hidden;
            margin-right: 20px;
        }
        .item {
            margin-bottom: 20px;
        }
        strong {
            font-size: 0.95em;
            display: block;
            line-height: 1em;
        }
        .views,
        .comments {
            font-size: 0.8em;
            font-weight: 400;
            color: #bbb;
            margin-top: 10px;
        }
        .views i,
        .comments i {
            margin-right: 5px;
        }
        .views::after {
            content: "|";
            display: inline-block;
            margin: 0 7px;
            font-size: 0.9em;
            color: #ccc;
        }
        .comments::after {
            content: "|";
            display: inline-block;
            margin: 0 7px;
            font-size: 0.9em;
            color: #ccc;
            display: none;
        }
    }
    &.categories {
        a {
            display: block;
            color: #555;
            text-decoration: none;
            &:hover {
                color: #000;
            }
        }
        .items {
            // height: auto;
            max-height: 214px;
            overflow: auto;
        }
        .item {
            background: #fafafa;
            padding: 10px;
            color: #777;
            font-weight: 700;
            &:nth-of-type(2n + 2) {
                background: none;
            }
            span.category {
                color: inherit;
                font-size: 0.95em;
                text-transform: capitalize;
                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
            span.number {
                font-size: 0.9em;
                color: #aaa;
            }
        }
    }
    &.tags .tag-container {
        height: 106px;
        max-height: 215px;
        overflow: auto;
        .tag {
            padding: 5px 25px;
            border: 1px solid #ddd;
            margin: 5px 0;
            color: #777;
            font-size: 0.75em;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            border-radius: 50px;
            &:hover {
                background: #9055a2;
                color: #fff;
                border-color: #9055a2;
            }
        }
    }
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 15px;
}