/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Centery;
    src: url(assets/fonts/Centery.woff);
}

html {
    scroll-behavior: smooth;
}

.textCentery {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-family: Centery;
    font-size: 25px !important;
    text-align: justify;
    word-wrap: break-word;
    line-height: 1;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #5e2cad;
    color: #666;
    page-break-inside: avoid;
    font: normal normal 14px/16px "Courier New", Courier, Monospace;
    line-height: 1;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 0.5em 1em;
    display: block;
    word-wrap: break-word;
    margin-left: 30px;
    overflow: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    counter-reset: line;
    &:hover,
    &:focus {
        /* what ever action */
        /* this is just example */
        border-left: 3px solid #972222;
    }
}

blockquote.quote {
    font-size: 1.05em;
    line-height: 1.7em;
    border-color: #9055a2;
    border: 1px solid #eee;
    border-left: 6px solid #eee;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px;
    p {
        margin-bottom: 15px !important;
    }
}

// p.lead {
//   font-size: 1.3rem;
//   font-weight: 300;
// }
i[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

section {
    display: block;
}

main {
    padding-top: 50px;
    padding-bottom: 100px;
}

.form-group {
    margin-bottom: 1rem;
}

.text-big {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8em;
    color: #111;
}

.no-padding-top {
    padding-top: 0 !important;
}

a.hero-link {
    color: inherit !important;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none !important;
    margin-top: 20px;
    font-weight: 300;
    &::after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background: #fff;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    &:hover {
        color: #9055a2 !important;
        &::after {
            background: #9055a2;
        }
    }
}

.category a {
    color: #9055a2;
    &:not(:last-child)::after {
        content: " - ";
        color: #111;
    }
}

//*------------------------------------------------------------------*/
// * LATEST SECTION
//*------------------------------------------------------------------*/
.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
    .date {
        text-transform: uppercase;
        font-weight: 400;
        &::after {
            display: none;
        }
    }
}

//*------------------------------------------------------------------*/
// * POST
//*------------------------------------------------------------------*/
.post {
    p:not(.lead) {
        font-weight: 400;
        color: #777;
        font-size: 0.95em;
    }
    a {
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    h3 {
        line-height: 1.1em;
        color: #222;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-bottom: 1rem;
        &:hover {
            color: #555;
        }
    }
    .category a {
        color: #9055a2;
        letter-spacing: 0.05em;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }
    .date {
        letter-spacing: 0.05em;
        font-weight: 400;
        text-transform: uppercase;
        color: #aaa;
    }
    .avatar {
        max-width: 40px;
        min-width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
    }
    .title,
    .date,
    .comments,
    .views {
        font-weight: 400;
        color: #999;
        text-transform: capitalize;
    }
    .title i,
    .date i,
    .comments i,
    .views i {
        margin-right: 5px;
        font-size: 1.1em;
    }
    .title::after,
    .date::after,
    .comments::after,
    .views::after {
        content: "|";
        display: inline-block;
        margin: 0 7px;
        font-size: 0.9em;
        color: #ccc;
    }
    .post-tags {
        margin-top: 30px;
        .tag {
            padding: 5px 25px;
            border: 1px solid #ddd;
            margin: 5px;
            color: #777;
            font-size: 0.75em;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            border-radius: 50px;
            &:hover {
                background: #9055a2;
                color: #fff;
                border-color: #9055a2;
            }
        }
    }
    .meta-last::after {
        display: none;
    }
}


/* Latest Posts Section Media Query ------------------------------------- */

@media (max-width: 767px) {
    .post {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}